<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- <meta http-equiv="refresh" content="30"> -->
  <meta property="og:type" content="profile">
  <meta property="og:author" content="{{ site.firstname }} {{ site.lastname }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta property="profile:first_name" content="{{ site.firstname }} ">
  <meta property="profile:last_name" content="{{ site.lastname }}">

  <!-- Dynamically include the CSS file -->
  {% if page.css_files %}
  {% for css in page.css_files %}
    <link rel="stylesheet" href="{{ '/assets/css/' | append: css | prepend: site.baseurl }}">
  {% endfor %}
  {% else %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  {% endif %}

  <!--{% if include.css_file %}
  <link rel="stylesheet" href="{{ "/assets/css/" | append: include.css_file | prepend: site.baseurl }}">
  {% else %}
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  {% endif %}-->

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
</head>
