/**
 * Reset some basic elements
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --color-white: #f0f0f0;
    --color-red: #be3144;
    --color-blue: #45567d;
    --color-gray: #303841;
    --color-light-grey: #8d9196;
    --color-green: #568b5f;
    --footer-height: 55px; 
}

/**
  * Basic styling
  */

body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body and html cover the viewport */
  display: flex;
  flex-direction: column; /* Keep header, main, and footer stacked vertically */
}

body {
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;          
  background-color: var(--color-grey);
  background-image: linear-gradient(52deg, #3a3d40 0%, #181719 100%);
  overflow: hidden;       
}

main {
  display: flex;
  flex: 1; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

h1, h2, h3, h4, h5, h6,
p{
  margin-bottom: 15px;
}

/**
  * `main` element
  */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;  
}


/**
  * Wrapper
  */

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px; 
  padding: 20px;
}

/**
  * Site header
  */

.site-header { 
  width: 100%;
  padding: 10px 0;
  border-top: 5px solid var(--color-gray);
  background-color: var(--color-green);
  min-height: 35.95px;
  text-align: center;
  position: relative;
}


/**
* Page content
*/
.page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
  flex: 1;
  padding-top: 20px; 
  margin-bottom: var(--footer-height);
}

.start-content{
  text-align: center;
}

.picture {
margin: 20px auto;
width: 70%;
max-width: 300px;
aspect-ratio: 1 / 1;
border: solid 2px #ffffff;
border-radius: 50%;
overflow: hidden;
position: relative;
}

.picture img {
width: 100%;
height: 100%;
object-fit: cover;
position: relative;
}

.picture:hover img {
  transform: scale(1.1); 
  filter: brightness(1.2); 
}

.picture:hover {
  box-shadow: 10px -10px 15px var(--color-green);
}

.inner {
  text-align: center;
  border-top: solid 1px var(--color-white);
  border-bottom: solid 1px var(--color-white);
}

.inner > p
{
font-size: 2.5rem;
font-weight: 400;
font-style: italic;
color: var(--color-green);
}

.inner > h1{
font-size: 3rem;
text-align: center;
font-family: 'Raleway', sans-serif;
font-weight: 700;
color: var(--color-light-grey)
}

.page-link {
  margin: 5px;
  line-height: 1.5;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
  background-color: var(--color-green);
  border-color: var(--color-gray);
  color: var(--color-gray);
  text-decoration: none;
}

.nav-list {
  margin: 20px;
  display: flex;
  margin-right: 2rem;
  list-style: none;
}


/**
  * Site footer
*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-gray);
  color: var(--color-white);
  box-sizing: border-box;
  border-top: 5px solid var(--color-green);
  padding: 5px 0;
  z-index: 10;
}

.site-footer {
  text-align: center;
}

.footer-wrapper {
  display: flex; /* Enable Flexbox */
  justify-content: space-between; /* Push items to the edges */
  align-items: center; /* Vertically align items in the center */
  font-size: 15px;
  padding: 0 15px; /* Add padding for spacing */
  width: 80%; /* Ensure it spans the entire width */
  box-sizing: border-box; /* Include padding in width calculation */
}

.footer-wrapper .footer-left {
  text-align: left;
}

.footer-wrapper .footer-right {
  text-align: right;
}
