<!DOCTYPE html>
<html>
  {% include head.html css_file="start_style.css" %}
  

  <body>
    
    <header class="site-header" role="banner">
    </header>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{content}}
      </div>
    </main>
    
    <footer class="site-footer h-card">
      <data class="u-url" href="/"></data>
    
      <div class="wrapper">
        <div class="footer-wrapper">
          <p class="footer-left">Created by Christiane Elgert</p>
          <p class="footer-right">© 2024</p>
        </div>
      </div>
    </footer>
    
  </body>
</html>